start:
  args:
    - reader-node
    - merger
    - relayer
    - firehose
    - substreams-tier1
    - substreams-tier2
  flags:
    # Not real, but good enough for local testing
    advertise-chain-name: "holesky"
    data-dir: ".firehose-data"

    # Start from block 0 to match what the tracer outputs
    common-first-streamable-block: 2

    reader-node-path: "./target/debug/reth-firehose-tracer"
    reader-node-data-dir: "{data-dir}/reader-node"
    reader-node-bootstrap-data-url: "bash:///./fireeth.bootstrap.sh"
    reader-node-arguments: node
      --datadir={node-data-dir}
      --dev
      --dev.block-time=1s
      --chain=./fireeth.genesis.json
      --http
      --http.api=debug,eth,web3,net
      --http.addr=0.0.0.0
      --http.port=8545

    # TODO: Removed TLS for dev
    substreams-tier1-grpc-listen-addr: ":10000*"
    firehose-grpc-listen-addr: ":10001*"
    # substreams-tier1-grpc-listen-addr: ":10000"
    # firehose-grpc-listen-addr: ":10001"
